<!DOCTYPE html>
<html lang="nl">

<head>
  <title>PlusLeo Kaarten</title>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link rel="stylesheet" type="text/css" href="/css/darkly.css" />
  <link rel="stylesheet" type="text/css" href="/css/iframe.css" />
</head>

<body>
  <div class="container">
    <div class="row">
      <label>Locatie</label>
      <div><%-voorstelling.locatie%></div>
    </div>
    <%if( voorstelling.opmerkingen ){%>
    <div class="row">
      <label>Opmerkingen</label>
      <div><%=voorstelling.opmerkingen%></div>
    </div>
    <%}%>
    <div class="row">
      <label>Prij<%= voorstelling.prijzen.length > 1? 'zen':'s'%></label>
      <div class="d-flex flex-column">
        <% voorstelling.prijzen.forEach(function(prijs)){ %>
        <span><%= prijs.asString() %></span>
        <%})%>
      </div>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th>tijdstip</th>
          <th>ontvangst</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% voorstelling.uitvoeringen.forEach( function( uitvoering ) {%>
        <tr>
          <td><%=format(uitvoering.aanvang, ("dddd DD-MM-YYYY HH:MM", {locale:nl}))%></td>
          <td><%=format(uitvoering.deur_open, ("HH:MM", {locale:nl}))%></td>
          <td><%- uitvoering.status() %></td>
        </tr>
        <%})%>
      </tbody>
    </table>

  </div>
</body>

</html>