<%= include('partials/head') %>
<%= include('partials/header')%>

<p>
  Hallo
  <%= reservering.naam %>
</p>
<p>
 Er is een aantal plaatsen vrijgekomen, waardoor je niet langer in de wachtrij staat<br />
</p>

<%- include('partials/reservering', {reservering:reservering}) %>
<%- include('partials/payments', {reservering:reservering} %>


<h2>Bewaar deze e-mail</h2>
<p>
  Als je de reservering nog wilt aanpassen of annuleren, dan kun je dat doen met 
  <a href="<%= reservering.editLink %">deze link</a> 
  </p> 
  
  <p>
    We zien je bij de voorstelling<br />
    <br />
    PlusLeo
</p>

<%= include('partials/footer')%>