<%= include('partials/head') %>
<%= include('partials/header')%>

<p>
  Hallo
  <%= reservering.naam %>
</p>
<p>
  Bedankt voor de reservering<br /><br/>
  Helaas sta je in de wachtlijst. Zodra er voldoende plaatsen beschikbaar komen krijg je een e-mail<br />
  Dan hoef je pas te betalen.
</p>

<%- include('partials/reserving', {reservering:reservering}) %>

<h2>Bewaar deze e-mail</h2>
<p>
  Als je de reservering nog wilt aanpassen of annuleren, dan kun je dat doen met 
  <a href="<%= reservering.editLink %">deze link</a> 
  </p> 

<%= include('partials/footer')%>