<div class="card p-3 mt-3">
  <p>Hallo <%= reservering.naam %></p>
  <p>We hebben je betaling ontvangen</p>
</div>
<%- include('partials/voorstelling') %>
<%- include('partials/qrcode')%>
<%- include('partials/reservering') %>
<%- include('partials/payments') %>
<%- include('partials/bewaar')%>

