<div class="card p-3 mt-3">
  <p>Hallo <%= reservering.naam %></p>
  <p>Je reservering is gewijzigd</p>
</div>

<%- include('partials/voorstelling') %>
<%- include('partials/qrcode')%>
<%- include('partials/bewaar')%>
<%- include('partials/reservering')%>
<%- include('partials/payments')%>

