<%- include(findTemplate('partials/header'))%>
<tr>
  <td>
    <table class="card row no-print">
      <tr class="card-body">
        <td>
          Hallo <%= reservering.naam %><br />
          <br />
          Er is een aantal plaatsen vrijgekomen, waardoor je niet langer in de
          wachtrij staat<br />
          <br />
          <% if( reservering.saldo < 0 ){ %>
          <em
            >We verzoeken je
            <a href="<%= reservering.getBetalingUrl() %>">te betalen</a></em
          >
          <% } %>
        </td>
      </tr>
    </table>
  </td>
</tr>

<%- include(findTemplate('partials/reservering')) %> <% if( reservering.saldo >=
0 ) {%> <%- include(findTemplate('partials/qrcode'))%> <%}%> <%-
include(findTemplate('partials/bewaar'))%> <%-
include(findTemplate('partials/footer'))%>
