<% if ( reservering.payments.length ) { %>
<div class="card mt-3 p-3">
<h2>Betalingen</h2>

<table class="table">
  <thead>
    <tr>
      <th>ticket</th>
      <th>betaald</th>
      <th>status</th>
      <th>bedrag</th>
      <th>terugstortingen</th>
    </tr>
  </thead>
  <tbody>
  <% reservering.payments.forEach( function(payment) { %>
    <tr>
      <td><%= payment.description %></td>
      <td><%= payment.paidAt ? format(payment.paidAt, 'DD-MM HH:mm') : '' %></td>
      <td><% 
        if( payment.paymentUrl ) {%>
        <a href="<%= payment.paymentUrl %>">Nog te betalen</a>
        <% } else {%>
          <%= payment.status %>
        <% } %>
        </td>
        <td><%= payment.amount %></td>
        <% if( payment.amountRefunded ) { %>
        <td><%= payment.amountRefunded %></td>
        <% } %>
    </tr>
  <% }) %>
</div>
<% } %>