<% if ( reservering.Payments.length ) { %>
<tr>
  <td>
    <table class="row card ">

      <tr class="card-header">
        <td>Betalingen</td>
      </tr>
      <tr class="card-body">
        <td>
          <table class="table">
            <thead>
              <tr>
                <th>kaarten</th>
                <th>betaald</th>
                <th>status</th>
                <th>bedrag</th>
                <th>terugstortingen</th>
              </tr>
            </thead>
            <tbody>
            <% reservering.Payments.forEach( function(payment) { %>
              <tr>
                <td><%= payment.description %></td>
                <td><%= payment.paidAt ? format(payment.paidAt, 'DD-MM HH:mm') : '' %></td>
                <td><% 
                  if( payment.paymentUrl ) {%>
                  <a href="<%= payment.paymentUrl %>">Nog te betalen</a>
                  <% } else {%>
                    <%= payment.status %>
                  <% } %>
                  </td>
                  <td>€ <%= payment.amount.toFixed(2) %></td>
                  <% if( payment.amountRefunded ) { %>
                  <td>€ <%= payment.amountRefunded.toFixed(2) %></td>
                  <% } %>
              </tr>
            <% }) %>
            </tbody>
          </table>
        </td>
      </tr>
    </table>
  </td>
</tr>
<% } %>