<div class="card mt-3 p-3">
<h2>Betalingen</h2>

<table class="table">
  <thead>
    <tr>
      <th>ticket</th>
      <th>betaald</th>
      <th>status</th>
      <th>bedrag</th>
    <!--   <% if( reservering.hasRefunds ) { %>
       <th>terugstortingen</th>
       <% } %>-->
    </tr>
  </thead>
  <tbody>
  <% reservering.payments.forEach( function(payment) { %>
    <tr>
      <td><%= payment.description %></td>
      <td><%= payment.paidAt ? format(payment.paidAt, 'DD-MM HH:mm') : '' %></td>
      <td><% url = payment.paymentUrl; 
        if( url ) {%>
        <a href="<%= url %>">Nog te betalen</a>
        <% } else {%>
          <%= payment.betaalstatus %>
        <% } %>
        </td>
        <td><%= payment.amount %>
    </tr>
  <% }) %>
</div>
