<%- include(findTemplate('partials/header'))%>
<tr>
  <td>
    <table class="card row">
      <tr class="card-body">
        <td>
          Hallo <%= reservering.naam %><br />
          <br />
          De betaling voor je bestelling is nog niet (volledig) geslaagd<br />
          Dit zou o.a. veroorzaakt kunnen zijn door een storing in het
          betalingsverkeer op internet of als de betaling vroegtijdig is
          afgebroken.<br />
          <br />
          Heb je al wel betaald intussen, dan kun je deze mail natuurlijk
          negeren.
          <br />
          <em
            >We verzoeken je
            <a href="<%= reservering.getBetalingUrl() %>"
              >alsnog te betalen</a
            ></em
          >
          (je kunt niet per ongeluk 2x betalen)<br />
          <br />
          Heb je al wel betaald, probeer dan om de
          <a href="<%= reservering.getResendUrl()%>"
            >kaarten opnieuw opgestuurd</a
          >
          te krijgen. en anders kun je dit met je naam en reserveringnummer
          doorgeven aan
          <a href="mailto:tickets@semprecrescendo-diepenveen.nl"
            >tickets@semprecrescendo-diepenveen.nl</a
          ><br />
          Wij nemen dan zo spoedig mogelijk contact met je op.
        </td>
      </tr>
    </table>
  </td>
</tr>

<%- include(findTemplate('partials/reservering')) %> <%-
include(findTemplate('partials/payments')) %> <%-
include(findTemplate('partials/footer'))%>
